body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #ffffff;
}

#navbar {
    background-color: black; /* Set navbar background color to black */
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-group{
    display: flex;
}
.userInfo{
    display: grid;
    position: absolute;
    right:10px;
}
.userInfo a{
    position:absolute;
    right:5px;
    top:25px;
    width:2vw;
    height:5vh;
}
.userInfo a img{
    width:2vw;
    height:4vh;
}
.button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; /* Adjusted margin between buttons */
}

.glow-on-hover {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    color: #fff; /* Set button text color to white */
    text-decoration: none; /* Remove default underline */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px; /* Adjusted margin between buttons */
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 300%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Add margin to create space between navbar and content */
}

#heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #000000;
    padding: 15px 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#video {
    width: 700px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

#check-performance-container {
    margin: 0px 217px;
}
p{
    color:  rgb(0, 0, 0);
}
h2{
    color: #000;
}
#us{
    color: #ffffff;
    font-size: 22px;
    margin:0;
}
#bar-chart{
    width:800px;
}