<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Login Form</title>
  <link rel="stylesheet" href="/static/style_admin.css">
</head>
<body>
  <div class="wrapper">
    <form action="/admin" method="POST">
      <h2>Admin Login</h2>
        <div class="input-field" >
        <input type="text" name="username" required>
        <label>Enter your username</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" required>
        <label>Enter your password</label>
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>
</body>
</html>